<div>
    {{pageTitle}}
    <form id="update-form" class="form" [formGroup] = "todos">
        <h3 class="text-center text-info">Update Task</h3>
        <div class="form-group">
            <label for="id" class="text-info">ID:</label><br>
            <input type="text" formControlName="id" class="form-control" readonly />
            <label for="title" class="text-info">Title:</label><br>
            <input type="text" formControlName="title" class="form-control"  />
            <label for="createdOn" class="text-info">Created On:</label><br>
            <input type="text" formControlName="createdOn" class="form-control" readonly/>
            <label for="completed" class="text-info">Completion Status:</label><br>
            <select formControlName="completed" class="form-control">
              <option value="false">False</option>
              <option value="true">True</option>
            </select>
        </div>
        <div [hidden]="!putError" class="alert alert-danger">
            {{errorMsg}}
        </div>
        <div class="form-group">
            <button (click)='updateTask(todos)' class="btn btn-info btn-md">Update</button>
        </div>
    </form>
</div>


{{todos.value | json}}